@import url('https://fonts.cdnfonts.com/css/google-sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product Sans Black', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #202124;
}

.container {
  position: re;
  width: 40rem;
  height: 350px;
  padding: 30px 40px;
  border: 1px solid #3c4043;
  border-radius: 8px;
  background: #202124;
  z-index: 1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  border: 1px solid #3c4043;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #202124;
}

#color-codes {
  color: #bdc1c6;
  text-align: center;
}

#color-codes li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.color-indicator {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
}

#color-picker {
  margin-left: 40px;
}